body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
}

.header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: left;
}

.time-and-date {
  width: 183px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  padding: 4px 11px;
}

.menu-label {
  color: white;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  text-shadow: 0px 1px 6px rgba(204, 204, 204, 1);
  margin: 0;
}

.main-content {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url("https://app.codigma.io/api/uploads/2026/04/06/asset-c842bcb7-4b37-479e-b8da-3c6d580650e4.png")
    no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tos-section {
  width: 514px;
  backdrop-filter: blur(15px);
  background: rgba(74, 74, 74, 0.39);
  border-radius: 15px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.tos-title {
  color: #727272;
  font-size: 200px;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 20px;
  text-align: center;
}

.info-box {
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 30px;
  position: relative;
}

.separator {
  border: none;
  height: 1px;
  background: rgba(60, 60, 67, 0.29);
  width: 100%;
  margin: 30px 0;
}

.discord-icon {
  width: 85px;
  height: 85px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  opacity: 0.86;
}
